@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


 /*font used */

body {
    font-family: "Montserrat", sans-serif;
  
} 

h2 {
    font-family: "montserrat", sans-serif;
    font-size: 130%;
    text-align: center;
}

/* header styling */

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 160%;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-left: 12px;

}

header a {
    text-decoration: none;
    color:black;
}

/*navigation links */

nav {
     margin: 0 auto;
     padding-bottom: 3px;
     border-bottom: 2px inset rgb(166, 159, 159);
}

nav ul {
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
nav li {
    list-style-type: none;
    display: inline-block;
}
nav a {
    text-decoration: none;
    color:black;
    margin-right: 10px;
    
}
nav a:hover {
    border: 2px solid rgba(216, 194, 177, 0.4);
    background-color: rgba(218, 202, 177, 0.2);
    border-radius: 15%;
}

.active {
    border: 1px solid rgb(218, 202, 177);
    background-color: rgb(218, 202, 177);
    border-radius: 15%;
}
/* hero image section */

.hero-image {
    background-image: url("../images/hygge.jpg");
    background-position: right 35% top 20%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color:rgba(255, 255, 255, 0.5);
}

.hero-text-background {
    height: 230px;
    width: 230px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    text-align: center;
    background-repeat: no-repeat;
    position: relative;
    top: 40%;
    left: 10%;
}

.text {
    position: relative;
    top: 36%;
    left: 0%;


}
 
em {
    font-size: 110%;
    letter-spacing: 2px;
}


/* what is hygge section */

.intro-outer {
    height: 250px;
    width: 100%;
}

b {
    letter-spacing: 2px;
}

 /* used for what is hygge and about sections */

.container {
    background-color: rgba(218, 202, 177, 0.3);
    height: 200px;
    width: 100%;
    text-align: center;
    color: black; 
}

.container-text {
    position: relative;
    top: 8%;
}

/* About section */

.container-text a {
    text-decoration: none;
    color:rgb(138, 103, 48)
} 
.container-text a:hover {
    text-decoration: underline;
}

/* tips page flip box styling */

.flip-box {
    height: 330px;
    width: 90%;
    margin: 5% 0;
    
}

.flip-box-inner {
    height: 100%;
    width: 100%;
    position: relative;
    transition: 0.6s; 
    text-align: center;
    color: black;
    transform-style: preserve-3d;
    

}

.flip-box-front, .flip-box-back {
    width: 100%;
    height: 100%;
    position: absolute;
    position: center center;
    backface-visibility: hidden;
}
.flip-box-front img {
    width:100%;
    height: 330px;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-box-back {
    background-color: rgba(216, 194, 177, 0.4);
    transform: rotateY(180deg);
}

.flip-box-back a {
    color:rgb(138, 103, 48);
    text-decoration: none;
}

.flip-box-back a:hover {
    text-decoration: underline;
}

/* contact page */




/* footer */

footer {
    height: 50px;
    width: 100%;
}

footer li {
    list-style-type: none;
    display: inline-block;
    padding-right: 30px;
    padding-left: 15px;

}

footer ul {
    text-align: center;
}

footer a {
    color: black;
    font-size: 200%;
}


/* for medium and large screen sizes from 850px wide and up */

/*@media screen and (min-width: 650px) {
       
       .container-text {
        position: relative;
        top: 30%;
     }

    .flip-box {
        height: 400px;
        width: 28%;
        display: inline-block;
        margin: 5% 0;
    }

    .flip-box-inner {
        height: 100%;
        width: 100%;
        position: relative;
        text-align: center;
        transition: 0.6s; 
        color: black;
        transform-style: preserve-3d ;
    }
    
    
    

    .flip-box-front img {
        width: 100%;
        height: 400px;
    }
}
*/