@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*font used imported from google fonts*/


html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

main {
    flex: 1 0 auto;
}


/* header styling */
h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 160%;
    letter-spacing: 2px;
    margin-bottom: 0px;
    margin-left: 12px;

}

header a {
    text-decoration: none;
    color: black;
}

h2 {
    font-family: "montserrat", sans-serif;
    font-size: 130%;
    text-align: center;
}

/*navigation links */
nav {
    margin: 0 auto;
    padding-bottom: 3px;
    border-bottom: 2px inset rgb(166, 159, 159);
}

nav ul {
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 10px;

}

nav a:hover {
    border: 2px solid rgba(216, 194, 177, 0.4);
    background-color: rgba(218, 202, 177, 0.2);
    border-radius: 15%;
}

.active {
    border: 1px solid rgba(218, 202, 177, 0.2);
    background-color: rgba(218, 202, 177, 0.4);
    border-radius: 15%;
}

/* hero image section */
.hero-image {
    background-image: url("../images/hygge-hero-image.webp");
    background-attachment: scroll;
    background-position: right 35% top 20%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.hero-text-background {
    height: 230px;
    width: 230px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    text-align: center;
    background-repeat: no-repeat;
    position: relative;
    top: 40%;
    left: 10%;
}

/* text inside circle div on hero image */
.text {
    position: relative;
    top: 32%;
    left: 0%;
}

.text>h2,
.text>h3 {
    font-size: 100%;
    font-weight: 650;
    font-style: italic;
}

em {
    font-size: 110%;
    letter-spacing: 2px;
}

/* what is hygge section below hero image*/
.intro-outer {
    height: 250px;
    width: 100%;
}

b {
    letter-spacing: 2px;
}

/* used for what is hygge and about sections */
.container {
    background-color: rgba(218, 202, 177, 0.3);
    height: 200px;
    width: 100%;
}

.container-text {
    text-align: center;
    position: relative;
    top: 5%;
}

/* About section */
.container-text a {
    text-decoration: none;
    color: rgb(138, 103, 48)
}

.container-text a:hover {
    text-decoration: underline;
}

/* guide page */
#one-two-three-heading {
    text-align: center;
    font-size: 160%;
    font-weight: 700;
    margin-bottom: 2px;
}

#select-message {
    text-align: center;
    font-weight: 30;
    margin-top: 2px;
}

/* flip box code taken from https://www.w3schools.com/howto/howto_css_flip_box.asp */
.flip-box {
    background-color: transparent;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* padding between image two and three, to match the gap between image one and two, due to white frame around image one */
#image-three {
    padding-top: 8px;
}

.flip-box-inner {
    min-height: 300px;
    min-width: 350px;
    position: relative;
    transition: 1.4s;
    text-align: center;
    transform-style: preserve-3d;

}

/* vertical flip */
.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
    cursor: pointer;
}

/* front and back styling */
.flip-box-front,
.flip-box-back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    /*Safari*/
    backface-visibility: hidden;
    text-align: center;
}

/* front image sizing */
.flip-box-front img {
    width: 100%;
    height: 100%;
}

.flip-box-back {
    background-color: rgba(216, 194, 177, 0.4);
    transform: rotateX(180deg);
}

.flip-box-back p {
    text-align: center;
    font-size: 90%;
    padding-left: 50px;
    padding-right: 50px;
}

.flip-box-back a {
    color: rgb(138, 103, 48);
    text-decoration: none;
}

.flip-box-back a:hover {
    text-decoration: underline;
}


/* Contact page- form styling */
.contact-form-background {
    background-image: url(../images/background_contact_page.webp);
    background-color: rgba(216, 194, 177, 0.4);
    /*if image doesn't load */
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    height: 150vh;
    width: 100%;
}

fieldset {
    width: 90%;
    margin: 10% auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px 10px rgba(238, 233, 235, 0.966);
    padding: 20px;
    border: 2px solid white;

}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid rgb(216, 194, 177);
    border-radius: 10px;
    box-shadow: 0 0 15px 10px rgba(216, 194, 177, 0.4);
    box-sizing: border-box;
}

input[type=submit],
input[type=reset] {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgb(138, 103, 48);
    background-color: rgba(216, 194, 177, 0.4);
    color: black;
    /*safari*/
}

.use-entry:hover {
    border: 3px double black;
}

.use-entry:active {
    box-shadow: 0 0 25px 10px rgb(216, 194, 177);
}

.action-form:hover {
    background-color: rgb(216, 194, 177);
}

/* confirmation thank you page received when user submits form/ also used for 404 page styling */
.contact-form-confirmation {
    height: 100%;
    width: 100%;
    background-color: rgba(79, 35, 1, 0.15);
    background-size: cover;
}

.confirmation-text-background {
    width: 90%;
    height: 80%;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.911);
    margin: 0 auto;
    position: relative;
    top: 5%;
}

.confirmation-text-background h2,
.confirmation-text-background h3,
.confirmation-text-background p {
    text-align: center;
    position: relative;
    top: 25%;
    margin-top: 0;
}

.confirmation-text-background p {
    font-size: 30px;
    letter-spacing: 1px;
    margin: 5px;
}

#error-message {
    font-size: 16px;
    margin: 5px; 
} 

/* footer */
/* https://css-tricks.com/couple-takes-sticky-footer/ used for sticky footer */
footer {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border-top: 2px inset rgb(166, 159, 159);
    background-color: white;
    flex-shrink: 0;

}

footer li {
    list-style-type: none;
    display: inline-block;
    margin: 0 auto;
    padding: 0 5%;
}

footer ul {
    text-align: center;
    padding: 0;
    margin-top: 8px;
}

footer a {
    color: rgb(32, 30, 30);
    font-size: 200%;
}


/* for small to medium screen sizes from 450px wide and up */
@media screen and (min-width: 450px) {
    .container-text {
        text-align: center;
        position: relative;
        top: 20%;
    }

    .flip-box-inner {
        width: 400px;
        height: 350px;
    }

    .flip-box-back p {
        text-align: center;
        font-size: 100%;
    }
}

/* for medium and large screen sizes from 850px wide and up */
@media screen and (min-width: 850px) {
    fieldset {
        width: 50%;

    }
}

/* for large screen sizes from 1250px wide and up */
@media screen and (min-width: 1250px) {
    .flip-box {
        height: 400px;
        width: 30%;
        margin: 2% 1%;
        display: inline-block;
    }
}